*{
    margin: 0px;
    padding: 0px;
}

.container{
    background: #1b1b1b;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    height: 50px;
    border-radius: 10px;
    margin-top: 4px;
}
.menu{
    color: white;
    list-style: none;
    display: flex;
}
.menuItem:hover{
    cursor: pointer;
    color: rgb(206, 15, 15);
}
.menuItem{
    margin-left: 12px;
    font-weight: bold;
}
.cover{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to left, rgba(24, 2, 2, 0), rgb(48, 44, 44));
}
.photo{
    width: 200px;
    height: 150px;
    border-radius: 5px;
}
.btn{
    background-color:red;
    color: white;
    border: none;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}
.btn:hover{
    color: red;
    font-weight: bolder;
    background-color: #f5eeee;
    border: 1px solid red;
    cursor: pointer;
}
.absec{
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e2eef0;
    /* flex-direction: row-reverse; */
}
.heading{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    background-color: #e2eef0;
    padding-top: 20px;
    
}
.image2{
    width: 50px;
    padding-bottom: 5px;
    border-radius: 5px;
}
.box-container{
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    text-align: center;
    width: 120px;
    height: 220px;
    box-shadow: 5px 10px 15px rgba(167, 165, 165, 0.678) ;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
}
.footerheading{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 10px;
    color: white;
    padding-top:20px ;
}
.service-section{
    background-color: rgb(31, 31, 31);
}
.title{
    padding: 5px;
    font-size: larger;
}
.blog{
    font-size: small;
    padding: 10px;  
    color: white;
}
.title{
    font-size: large;
    font-weight: bold;
    color: white;
}
.list-item{
    font-size: small;
    list-style: none;
    color: white;
}
.foot-container{
    background-color:black;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}
.footer-logo{
    height: 70px;
    border-radius: 5px;
    
}