*{
    margin: 0px;
    padding: 0px;
}

.container{
    background: #1b1b1b;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    height: 50px;
    border-radius: 10px;
}
.menu{
    color: white;
    list-style: none;
    display: flex;
}
.menuItem{
    margin-left: 12px;
    font-weight: bold;
}
.cover{
    justify-content: center;
    align-items: center;
}