*{
    margin: 0px;
    padding: 0px;
}

.container{
    background: #1b1b1b;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    height: 50px;
    border-radius: 10px;
}
.menu{
    color: white;
    list-style: none;
    display: flex;
}
.menuItem:hover{
    cursor: pointer;
    color: aqua;
}
.menuItem{
    margin-left: 12px;
    font-weight: bold;
}
.cover{
   height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, rgba(24, 2, 2, 0), rgb(48, 44, 44));
}
.photo{
    width: 200px;
    height: 150px;
    border-radius: 5px;
}
.heading{
    font-size: larger;
    font-weight: bold;
}
.image2{
    width: 200px;
    height: 150px;
    border-radius: 5px;
}